<a href="https://colab.research.google.com/github/Eric0-K22/Auto-Data-Science/blob/master/Autolib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
url = 'Autolib.csv'

In [0]:
Autolib = pd.read_csv(url)

In [0]:
Autolib.head(5
            )

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [0]:
#Data understanding 
print (Autolib.info())
print (Autolib.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
Address                5000 non-null object
Cars                   5000 non-null int64
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
Charge Slots           5000 non-null int64
Charging Status        5000 non-null object
City                   5000 non-null object
Displayed comment      111 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Scheduled at           47 non-null object
Slots                  5000 non-null int64
Station type           5000 non-null object
Status                 5000 non-null object
Subscription status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB
None
              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [0]:
 Autolib.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [0]:
Autolib.drop(['Displayed comment'],inplace=True , axis=1)

In [0]:
Autolib.drop(['Scheduled at'], axis=1,inplace=True)

In [0]:
Autolib.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 23 columns]

In [0]:
Autolib.sort_values(by='year', ascending=1,inplace=True)
Autolib

                         Address  Cars  Bluecar counter  ...  day  hour  minute
0            2 Avenue de Suffren     0                0  ...    8    11      43
3336  5 Boulevard AimÃ© CÃ©saire     2                2  ...    2    16      15
3335   44 rue SÃ©bastien Mercier     4                4  ...    1    23      21
3334  10 rue Anatole de la Forge     0                0  ...    3     8      29
3333        46 quai de la RapÃ©e     0                0  ...    8    20      12
...                          ...   ...              ...  ...  ...   ...     ...
1664          28 rue Championnet     6                6  ...    4     4       9
1663          10 Rue Sadi Carnot     6                6  ...    2     1      46
1662      3 avenue LÃ©o Lagrange     3                3  ...    9    22       6
1669       169 avenue de Flandre     0                0  ...    9     8      59
4999         5 Rue Henry Brisson     4                4  ...    8    10       2

[5000 rows x 23 columns]

In [0]:
#column for the cars
Autolib['Bluecar_status']=Autolib['Bluecar counter'].diff()
Autolib['Utilib_status'] = Autolib['Utilib counter'].diff()
Autolib['Utilib_1.4_status']= Autolib['Utilib 1.4 counter'].diff()

In [0]:
Autolib[(Autolib.Bluecar_status > 0)].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
7    102
Name: hour, dtype: int64

In [0]:
#Combining columns for date relevancy.
Autolib['Time'] = Autolib['year'] + Autolib['month'] 
Autolib['day'] + Autolib['hour'] 
Autolib['minute']

Autolib['Date'] = pd.to_datetime(Autolib['Time'])
Autolib.head()

                         Address  Cars  ...  Time                          Date
0            2 Avenue de Suffren     0  ...  2022 1970-01-01 00:00:00.000002022
3336  5 Boulevard AimÃ© CÃ©saire     2  ...  2022 1970-01-01 00:00:00.000002022
3335   44 rue SÃ©bastien Mercier     4  ...  2022 1970-01-01 00:00:00.000002022
3334  10 rue Anatole de la Forge     0  ...  2022 1970-01-01 00:00:00.000002022
3333        46 quai de la RapÃ©e     0  ...  2022 1970-01-01 00:00:00.000002022

[5 rows x 28 columns]

In [0]:
Autolib[['Bluecar_status','Bluecar counter',
'Utilib_status','Utilib counter',
'Utilib_1.4_status','Utilib 1.4 counter']]

      Bluecar_status  Bluecar counter  ...  Utilib_1.4_status  Utilib 1.4 counter
0                NaN                0  ...                NaN                   0
3336             2.0                2  ...                0.0                   0
3335             2.0                4  ...                0.0                   0
3334            -4.0                0  ...                0.0                   0
3333             0.0                0  ...                0.0                   0
...              ...              ...  ...                ...                 ...
1664             2.0                6  ...                0.0                   0
1663             0.0                6  ...                0.0                   0
1662            -3.0                3  ...                1.0                   1
1669            -3.0                0  ...               -1.0                   0
4999             4.0                4  ...                0.0                   0

[5000 rows x 6 columns]

In [0]:
#create a table for Paris is the only city
Paree = Autolib[Autolib.City=='Paris']
Paree.head()

                         Address  Cars  ...  Time                          Date
0            2 Avenue de Suffren     0  ...  2022 1970-01-01 00:00:00.000002022
3335   44 rue SÃ©bastien Mercier     4  ...  2022 1970-01-01 00:00:00.000002022
3334  10 rue Anatole de la Forge     0  ...  2022 1970-01-01 00:00:00.000002022
3333        46 quai de la RapÃ©e     0  ...  2022 1970-01-01 00:00:00.000002022
3331      65 boulevard de Picpus     3  ...  2022 1970-01-01 00:00:00.000002022

[5 rows x 28 columns]

In [0]:
#Determine the most popular hour for cars arrived
Paree[(Autolib.Bluecar_status)> 0].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

hour
8    52
Name: hour, dtype: int64

In [0]:
#Determine the most popular hour for cars departed
Paree[(Paree.Bluecar_status < 0 )].groupby('hour')['hour'].count().sort_values(ascending=True).head(1)

hour
15    43
Name: hour, dtype: int64

In [0]:
#most popular station 
station = Autolib['ID'].value_count().head(1)

AttributeError: ignored