<a href="https://colab.research.google.com/github/Eric0-K22/Auto-Data-Science/blob/master/Banking_in_East_Africa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING OUR DATAFRAMES

In [0]:
#Importing pandas into our dataset
#
import pandas as pd

In [0]:
#Importing numpy into our dataset
#
import numpy as np

READING THE DATASET FROM OUR CSV FILES

In [0]:
# Reading the data from the csv file and create the dataframe to be used
#
df = pd.read_csv('/content/Train_v2.csv')
df

      country  year  ...                  education_level                   job_type
0       Kenya  2018  ...              Secondary education              Self employed
1       Kenya  2018  ...              No formal education       Government Dependent
2       Kenya  2018  ...  Vocational/Specialised training              Self employed
3       Kenya  2018  ...                Primary education  Formally employed Private
4       Kenya  2018  ...                Primary education        Informally employed
...       ...   ...  ...                              ...                        ...
23519  Uganda  2018  ...              No formal education               Other Income
23520  Uganda  2018  ...              Secondary education               Other Income
23521  Uganda  2018  ...                Primary education               Other Income
23522  Uganda  2018  ...              Secondary education              Self employed
23523  Uganda  2018  ...              Secondary education                  No Income

[23524 rows x 13 columns]

CLEANING THE DATASET

In [0]:
# Dropping the uniqueid column
#
df.drop(['uniqueid'], axis = 1, inplace=True)
df

      country  year  ...                  education_level                   job_type
0       Kenya  2018  ...              Secondary education              Self employed
1       Kenya  2018  ...              No formal education       Government Dependent
2       Kenya  2018  ...  Vocational/Specialised training              Self employed
3       Kenya  2018  ...                Primary education  Formally employed Private
4       Kenya  2018  ...                Primary education        Informally employed
...       ...   ...  ...                              ...                        ...
23519  Uganda  2018  ...              No formal education               Other Income
23520  Uganda  2018  ...              Secondary education               Other Income
23521  Uganda  2018  ...                Primary education               Other Income
23522  Uganda  2018  ...              Secondary education              Self employed
23523  Uganda  2018  ...              Secondary education                  No Income

[23524 rows x 12 columns]

In [0]:
#Finding the number of null values per column
#
df.isnull().sum()

country                   0
year                      0
bank_account              0
location_type             0
cellphone_access          0
household_size            0
age_of_respondent         0
gender_of_respondent      0
relationship_with_head    0
marital_status            0
education_level           0
job_type                  0
dtype: int64

In [0]:
# Dropping the relationship with head and marital status column
#
df.drop(['relationship_with_head','marital_status','job_type','gender_of_respondent'], axis = 1, inplace = True)

In [0]:
# Displaying the cleaned dataset
#
df

      country  year  ... age_of_respondent                  education_level
0       Kenya  2018  ...                24              Secondary education
1       Kenya  2018  ...                70              No formal education
2       Kenya  2018  ...                26  Vocational/Specialised training
3       Kenya  2018  ...                34                Primary education
4       Kenya  2018  ...                26                Primary education
...       ...   ...  ...               ...                              ...
23519  Uganda  2018  ...                48              No formal education
23520  Uganda  2018  ...                27              Secondary education
23521  Uganda  2018  ...                27                Primary education
23522  Uganda  2018  ...                30              Secondary education
23523  Uganda  2018  ...                20              Secondary education

[23524 rows x 8 columns]

DATA ANALYSIS

In [0]:
# Finding the countries in the dataset
#
df['country'].unique()

array(['Kenya', 'Rwanda', 'Tanzania', 'Uganda'], dtype=object)

In [0]:
# The amount of people with or without bank accounts living in either rural or urban areas and have a bank account in East africa
#
df.groupby(['country','bank_account','location_type'])['bank_account'].count()

country   bank_account  location_type
Kenya     No            Rural            2929
                        Urban            1618
          Yes           Rural             614
                        Urban             907
Rwanda    No            Rural            6865
                        Urban             867
          Yes           Rural             618
                        Urban             385
Tanzania  No            Rural            1434
                        Urban            4579
          Yes           Rural             375
                        Urban             232
Uganda    No            Rural            1444
                        Urban             476
          Yes           Rural              64
                        Urban             117
Name: bank_account, dtype: int64

In [0]:
# The amount of people living in either rural or urban areas with or without a cell phone and have or dont a have bank account in East africa
#
df.groupby(['country','bank_account','location_type','cellphone_access'])['bank_account'].count()

country   bank_account  location_type  cellphone_access
Kenya     No            Rural          No                   904
                                       Yes                 2025
                        Urban          No                   317
                                       Yes                 1301
          Yes           Rural          No                    45
                                       Yes                  569
                        Urban          No                    17
                                       Yes                  890
Rwanda    No            Rural          No                  1394
                                       Yes                 5471
                        Urban          No                    73
                                       Yes                  794
          Yes           Rural          No                    16
                                       Yes                  602
                        Urban          No                     3
                                       Yes                  382
Tanzania  No            Rural          No                   367
                                       Yes                 1067
                        Urban          No                  2284
                                       Yes                 2295
          Yes           Rural          No                     5
                                       Yes                  370
                        Urban          No                     8
                                       Yes                  224
Uganda    No            Rural          No                   537
                                       Yes                  907
                        Urban          No                    90
                                       Yes                  386
          Yes           Rural          No                     5
                                       Yes                   59
                        Urban          No                     5
                                       Yes                  112
Name: bank_account, dtype: int64

In [0]:
# The education levels of people living in rural or urban areas with or without a cell phone that have or dont have a bank account in kenya
8U#
df_kenya = df[df['country'] == 'Kenya']
df_kenya.groupby(['country','bank_account','education_level','cellphone_access',])['bank_account'].count()

country  bank_account  education_level                  cellphone_access
Kenya    No            No formal education              No                   371
                                                        Yes                  489
                       Other/Dont know/RTA              No                     1
                                                        Yes                    1
                       Primary education                No                   566
                                                        Yes                 1631
                       Secondary education              No                   277
                                                        Yes                  960
                       Tertiary education               No                     2
                                                        Yes                   72
                       Vocational/Specialised training  No                     4
                                                        Yes                  173
         Yes           No formal education              No                    31
                                                        Yes                   50
                       Other/Dont know/RTA              Yes                    6
                       Primary education                No                    14
                                                        Yes                  389
                       Secondary education              No                    13
                                                        Yes                  535
                       Tertiary education               No                     1
                                                        Yes                  217
                       Vocational/Specialised training  No                     3
                                                        Yes                  262
Name: bank_account, dtype: int64

In [0]:
# The education levels of people living in rural or urban areas with or without a cell phone that have or dont have a bank account in Rwanda
#
df_Rwanda = df[(df['country'] == 'Rwanda')]
df_Rwanda.groupby(['country','bank_account','location_type','cellphone_access','education_level'])['bank_account'].count()

country  bank_account  location_type  cellphone_access  education_level
Rwanda   No            Rural          No                No formal education                 617
                                                        Other/Dont know/RTA                   8
                                                        Primary education                   685
                                                        Secondary education                  78
                                                        Vocational/Specialised training       6
                                      Yes               No formal education                1300
                                                        Other/Dont know/RTA                   3
                                                        Primary education                  3305
                                                        Secondary education                 795
                                                        Tertiary education                   17
                                                        Vocational/Specialised training      51
                       Urban          No                No formal education                  33
                                                        Other/Dont know/RTA                   1
                                                        Primary education                    35
                                                        Secondary education                   4
                                      Yes               No formal education                  96
                                                        Other/Dont know/RTA                   2
                                                        Primary education                   377
                                                        Secondary education                 282
                                                        Tertiary education                   24
                                                        Vocational/Specialised training      13
         Yes           Rural          No                No formal education                   5
                                                        Primary education                    10
                                                        Secondary education                   1
                                      Yes               No formal education                  56
                                                        Other/Dont know/RTA                   1
                                                        Primary education                   308
                                                        Secondary education                 185
                                                        Tertiary education                   39
                                                        Vocational/Specialised training      13
                       Urban          No                No formal education                   1
                                                        Secondary education                   2
                                      Yes               No formal education                  14
                                                        Other/Dont know/RTA                   3
                                                        Primary education                   116
                                                        Secondary education                 144
                                                        Tertiary education                   97
                                                        Vocational/Specialised training       8
Name: bank_account, dtype: int64

In [0]:
# The education levels of people living in rural or urban areas with or without a cell phone that have or dont have a bank account Tanzania
#
df_Tanzania = df[(df['country'] == 'Tanzania')]
df_Tanzania.groupby(['country','bank_account','location_type','cellphone_access','education_level'])['bank_account'].count()

country   bank_account  location_type  cellphone_access  education_level
Tanzania  No            Rural          No                No formal education                  66
                                                         Primary education                   226
                                                         Secondary education                  55
                                                         Tertiary education                   19
                                                         Vocational/Specialised training       1
                                       Yes               No formal education                  87
                                                         Primary education                   653
                                                         Secondary education                  94
                                                         Tertiary education                  200
                                                         Vocational/Specialised training      33
                        Urban          No                No formal education                 691
                                                         Other/Dont know/RTA                   1
                                                         Primary education                  1434
                                                         Secondary education                 106
                                                         Tertiary education                   50
                                                         Vocational/Specialised training       2
                                       Yes               No formal education                 274
                                                         Other/Dont know/RTA                   1
                                                         Primary education                  1693
                                                         Secondary education                 142
                                                         Tertiary education                  175
                                                         Vocational/Specialised training      10
          Yes           Rural          No                Primary education                     2
                                                         Tertiary education                    2
                                                         Vocational/Specialised training       1
                                       Yes               No formal education                   3
                                                         Other/Dont know/RTA                   1
                                                         Primary education                   124
                                                         Secondary education                  21
                                                         Tertiary education                  137
                                                         Vocational/Specialised training      84
                        Urban          No                Primary education                     6
                                                         Tertiary education                    2
                                       Yes               No formal education                  12
                                                         Primary education                    86
                                                         Secondary education                  15
                                                         Tertiary education                   71
                                                         Vocational/Specialised training      40
Name: bank_account, dtype: int64

In [0]:
# The education levels of people living in rural or urban areas with or without a cell phone that have or do not have a bank account Uganda
#
df_Uganda = df[(df['country'] == 'Uganda')]
df_Uganda.groupby(['country','bank_account','location_type','cellphone_access','education_level'])['bank_account'].count()

country  bank_account  location_type  cellphone_access  education_level
Uganda   No            Rural          No                No formal education                164
                                                        Other/Dont know/RTA                  1
                                                        Primary education                  319
                                                        Secondary education                 51
                                                        Vocational/Specialised training      2
                                      Yes               No formal education                109
                                                        Other/Dont know/RTA                  2
                                                        Primary education                  562
                                                        Secondary education                210
                                                        Vocational/Specialised training     24
                       Urban          No                No formal education                 14
                                                        Primary education                   51
                                                        Secondary education                 23
                                                        Vocational/Specialised training      2
                                      Yes               No formal education                 28
                                                        Other/Dont know/RTA                  3
                                                        Primary education                  161
                                                        Secondary education                163
                                                        Tertiary education                   7
                                                        Vocational/Specialised training     24
         Yes           Rural          No                No formal education                  1
                                                        Primary education                    2
                                                        Secondary education                  2
                                      Yes               No formal education                  1
                                                        Primary education                   21
                                                        Secondary education                 18
                                                        Tertiary education                   2
                                                        Vocational/Specialised training     17
                       Urban          No                No formal education                  1
                                                        Secondary education                  3
                                                        Vocational/Specialised training      1
                                      Yes               No formal education                  1
                                                        Primary education                   15
                                                        Secondary education                 44
                                                        Tertiary education                  23
                                                        Vocational/Specialised training     29
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Kenya')& (df['location_type'] == 'Rural')& (df['cellphone_access']=='Yes')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Kenya    No            16                 Rural          Yes                  11
                       17                 Rural          Yes                  22
                       18                 Rural          Yes                  43
                       19                 Rural          Yes                  29
                       20                 Rural          Yes                  46
                       21                 Rural          Yes                  37
                       22                 Rural          Yes                  47
                       23                 Rural          Yes                  37
                       24                 Rural          Yes                  34
                       25                 Rural          Yes                  52
                       26                 Rural          Yes                  61
                       27                 Rural          Yes                  33
                       28                 Rural          Yes                  73
                       29                 Rural          Yes                  39
                       30                 Rural          Yes                 103
                       31                 Rural          Yes                  38
                       32                 Rural          Yes                  56
                       33                 Rural          Yes                  38
                       34                 Rural          Yes                  40
                       35                 Rural          Yes                  79
         Yes           17                 Rural          Yes                   1
                       18                 Rural          Yes                   2
                       19                 Rural          Yes                   5
                       20                 Rural          Yes                   4
                       21                 Rural          Yes                   6
                       22                 Rural          Yes                   4
                       23                 Rural          Yes                  11
                       24                 Rural          Yes                  10
                       25                 Rural          Yes                  12
                       26                 Rural          Yes                  14
                       27                 Rural          Yes                   7
                       28                 Rural          Yes                  21
                       29                 Rural          Yes                   3
                       30                 Rural          Yes                  26
                       31                 Rural          Yes                   5
                       32                 Rural          Yes                  17
                       33                 Rural          Yes                   8
                       34                 Rural          Yes                  11
                       35                 Rural          Yes                  30
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Kenya')& (df['location_type'] == 'Rural')& (df['cellphone_access']=='No')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Kenya    No            16                 Rural          No                  64
                       17                 Rural          No                  73
                       18                 Rural          No                  55
                       19                 Rural          No                  17
                       20                 Rural          No                  37
                       21                 Rural          No                   5
                       22                 Rural          No                  15
                       23                 Rural          No                  12
                       24                 Rural          No                  12
                       25                 Rural          No                  26
                       26                 Rural          No                  21
                       27                 Rural          No                   9
                       28                 Rural          No                  19
                       29                 Rural          No                  10
                       30                 Rural          No                  29
                       31                 Rural          No                  11
                       32                 Rural          No                  16
                       33                 Rural          No                   8
                       34                 Rural          No                   9
                       35                 Rural          No                  21
         Yes           20                 Rural          No                   1
                       21                 Rural          No                   1
                       27                 Rural          No                   1
                       31                 Rural          No                   1
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Kenya')& (df['location_type'] == 'Urban')& (df['cellphone_access']=='Yes')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Kenya    No            16                 Urban          Yes                 10
                       17                 Urban          Yes                 20
                       18                 Urban          Yes                 24
                       19                 Urban          Yes                 24
                       20                 Urban          Yes                 41
                       21                 Urban          Yes                 41
                       22                 Urban          Yes                 52
                       23                 Urban          Yes                 45
                       24                 Urban          Yes                 40
                       25                 Urban          Yes                 64
                       26                 Urban          Yes                 54
                       27                 Urban          Yes                 31
                       28                 Urban          Yes                 56
                       29                 Urban          Yes                 36
                       30                 Urban          Yes                 74
                       31                 Urban          Yes                 19
                       32                 Urban          Yes                 42
                       33                 Urban          Yes                 21
                       34                 Urban          Yes                 34
                       35                 Urban          Yes                 46
         Yes           17                 Urban          Yes                  4
                       18                 Urban          Yes                  4
                       19                 Urban          Yes                  8
                       20                 Urban          Yes                 14
                       21                 Urban          Yes                 14
                       22                 Urban          Yes                 24
                       23                 Urban          Yes                 32
                       24                 Urban          Yes                 34
                       25                 Urban          Yes                 32
                       26                 Urban          Yes                 36
                       27                 Urban          Yes                 14
                       28                 Urban          Yes                 46
                       29                 Urban          Yes                 24
                       30                 Urban          Yes                 51
                       31                 Urban          Yes                 21
                       32                 Urban          Yes                 46
                       33                 Urban          Yes                 17
                       34                 Urban          Yes                 27
                       35                 Urban          Yes                 27
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Kenya')& (df['location_type'] == 'Urban')& (df['cellphone_access']=='No')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Kenya    No            16                 Urban          No                  40
                       17                 Urban          No                  30
                       18                 Urban          No                  25
                       19                 Urban          No                  12
                       20                 Urban          No                   9
                       21                 Urban          No                  10
                       22                 Urban          No                   7
                       23                 Urban          No                   4
                       24                 Urban          No                   6
                       25                 Urban          No                   5
                       26                 Urban          No                   9
                       27                 Urban          No                   4
                       28                 Urban          No                   4
                       29                 Urban          No                   4
                       30                 Urban          No                  14
                       31                 Urban          No                   4
                       32                 Urban          No                   2
                       33                 Urban          No                   3
                       34                 Urban          No                   3
                       35                 Urban          No                   4
         Yes           16                 Urban          No                   2
                       18                 Urban          No                   3
                       25                 Urban          No                   1
                       26                 Urban          No                   1
                       29                 Urban          No                   2
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Rwanda')&(df['location_type'] == 'Rural')& (df['cellphone_access']=='Yes')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Rwanda   No            16                 Rural          Yes                 115
                       17                 Rural          Yes                 100
                       18                 Rural          Yes                 132
                       19                 Rural          Yes                 113
                       20                 Rural          Yes                 143
                       21                 Rural          Yes                 105
                       22                 Rural          Yes                  96
                       23                 Rural          Yes                 133
                       24                 Rural          Yes                 129
                       25                 Rural          Yes                 168
                       26                 Rural          Yes                 121
                       27                 Rural          Yes                 164
                       28                 Rural          Yes                 158
                       29                 Rural          Yes                 129
                       30                 Rural          Yes                 227
                       31                 Rural          Yes                 148
                       32                 Rural          Yes                 167
                       33                 Rural          Yes                 158
                       34                 Rural          Yes                 151
                       35                 Rural          Yes                 210
         Yes           16                 Rural          Yes                   2
                       17                 Rural          Yes                   1
                       18                 Rural          Yes                   3
                       19                 Rural          Yes                   7
                       20                 Rural          Yes                   2
                       21                 Rural          Yes                   4
                       22                 Rural          Yes                   8
                       23                 Rural          Yes                  11
                       24                 Rural          Yes                  10
                       25                 Rural          Yes                  22
                       26                 Rural          Yes                  16
                       27                 Rural          Yes                  17
                       28                 Rural          Yes                  17
                       29                 Rural          Yes                  16
                       30                 Rural          Yes                  24
                       31                 Rural          Yes                  26
                       32                 Rural          Yes                  22
                       33                 Rural          Yes                  28
                       34                 Rural          Yes                  12
                       35                 Rural          Yes                  26
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Rwanda')& (df['location_type'] == 'Rural')& (df['cellphone_access']=='No')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Rwanda   No            16                 Rural          No                  24
                       17                 Rural          No                  31
                       18                 Rural          No                  17
                       19                 Rural          No                  14
                       20                 Rural          No                  21
                       21                 Rural          No                  25
                       22                 Rural          No                  10
                       23                 Rural          No                  22
                       24                 Rural          No                  16
                       25                 Rural          No                  26
                       26                 Rural          No                  18
                       27                 Rural          No                  22
                       28                 Rural          No                  30
                       29                 Rural          No                  22
                       30                 Rural          No                  46
                       31                 Rural          No                  25
                       32                 Rural          No                  30
                       33                 Rural          No                  34
                       34                 Rural          No                  27
                       35                 Rural          No                  38
         Yes           22                 Rural          No                   1
                       24                 Rural          No                   1
                       27                 Rural          No                   1
                       31                 Rural          No                   1
                       33                 Rural          No                   1
                       34                 Rural          No                   1
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Rwanda')& (df['location_type'] == 'Urban')& (df['cellphone_access']=='Yes')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Rwanda   No            16                 Urban          Yes                 33
                       17                 Urban          Yes                 34
                       18                 Urban          Yes                 47
                       19                 Urban          Yes                 38
                       20                 Urban          Yes                 20
                       21                 Urban          Yes                 18
                       22                 Urban          Yes                 26
                       23                 Urban          Yes                 16
                       24                 Urban          Yes                 16
                       25                 Urban          Yes                 30
                       26                 Urban          Yes                 25
                       27                 Urban          Yes                 26
                       28                 Urban          Yes                 21
                       29                 Urban          Yes                 16
                       30                 Urban          Yes                 33
                       31                 Urban          Yes                  9
                       32                 Urban          Yes                 28
                       33                 Urban          Yes                 24
                       34                 Urban          Yes                 17
                       35                 Urban          Yes                 39
         Yes           16                 Urban          Yes                  1
                       17                 Urban          Yes                  2
                       18                 Urban          Yes                  4
                       19                 Urban          Yes                  2
                       20                 Urban          Yes                  3
                       21                 Urban          Yes                  9
                       22                 Urban          Yes                  4
                       23                 Urban          Yes                  4
                       24                 Urban          Yes                  6
                       25                 Urban          Yes                 17
                       26                 Urban          Yes                  9
                       27                 Urban          Yes                  6
                       28                 Urban          Yes                 11
                       29                 Urban          Yes                 18
                       30                 Urban          Yes                 20
                       31                 Urban          Yes                 11
                       32                 Urban          Yes                 16
                       33                 Urban          Yes                 16
                       34                 Urban          Yes                 12
                       35                 Urban          Yes                 27
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Rwanda')& (df['location_type'] == 'Urban')& (df['cellphone_access']=='No')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Rwanda   No            16                 Urban          No                  3
                       17                 Urban          No                  1
                       18                 Urban          No                  2
                       19                 Urban          No                  2
                       20                 Urban          No                  1
                       22                 Urban          No                  2
                       26                 Urban          No                  1
                       27                 Urban          No                  1
                       28                 Urban          No                  2
                       30                 Urban          No                  4
                       31                 Urban          No                  1
                       33                 Urban          No                  3
                       34                 Urban          No                  1
                       35                 Urban          No                  3
         Yes           19                 Urban          No                  1
                       20                 Urban          No                  1
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Uganda')&(df['location_type'] == 'Rural')& (df['cellphone_access']=='Yes')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Uganda   No            16                 Rural          Yes                  6
                       17                 Rural          Yes                 10
                       18                 Rural          Yes                 26
                       19                 Rural          Yes                 33
                       20                 Rural          Yes                 38
                       21                 Rural          Yes                 30
                       22                 Rural          Yes                 26
                       23                 Rural          Yes                 34
                       24                 Rural          Yes                 30
                       25                 Rural          Yes                 35
                       26                 Rural          Yes                 21
                       27                 Rural          Yes                 21
                       28                 Rural          Yes                 39
                       29                 Rural          Yes                 30
                       30                 Rural          Yes                 45
                       31                 Rural          Yes                 16
                       32                 Rural          Yes                 35
                       33                 Rural          Yes                 25
                       34                 Rural          Yes                 15
                       35                 Rural          Yes                 25
         Yes           20                 Rural          Yes                  2
                       21                 Rural          Yes                  2
                       23                 Rural          Yes                  1
                       24                 Rural          Yes                  2
                       25                 Rural          Yes                  2
                       26                 Rural          Yes                  1
                       27                 Rural          Yes                  2
                       28                 Rural          Yes                  2
                       29                 Rural          Yes                  2
                       30                 Rural          Yes                  4
                       31                 Rural          Yes                  1
                       32                 Rural          Yes                  2
                       33                 Rural          Yes                  3
                       34                 Rural          Yes                  2
                       35                 Rural          Yes                  2
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Uganda')& (df['location_type'] == 'Rural')& (df['cellphone_access']=='No')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Uganda   No            16                 Rural          No                  20
                       17                 Rural          No                  10
                       18                 Rural          No                  27
                       19                 Rural          No                  15
                       20                 Rural          No                  18
                       21                 Rural          No                  12
                       22                 Rural          No                  16
                       23                 Rural          No                  12
                       24                 Rural          No                  17
                       25                 Rural          No                  21
                       26                 Rural          No                   7
                       27                 Rural          No                   8
                       28                 Rural          No                  20
                       29                 Rural          No                   5
                       30                 Rural          No                  21
                       31                 Rural          No                   7
                       32                 Rural          No                  16
                       33                 Rural          No                   5
                       34                 Rural          No                  11
                       35                 Rural          No                  14
         Yes           30                 Rural          No                   1
                       32                 Rural          No                   1
                       34                 Rural          No                   1
                       35                 Rural          No                   1
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Uganda')& (df['location_type'] == 'Urban')& (df['cellphone_access']=='Yes')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Uganda   No            16                 Urban          Yes                  8
                       17                 Urban          Yes                 10
                       18                 Urban          Yes                 12
                       19                 Urban          Yes                 18
                       20                 Urban          Yes                 27
                       21                 Urban          Yes                 16
                       22                 Urban          Yes                 13
                       23                 Urban          Yes                 23
                       24                 Urban          Yes                 17
                       25                 Urban          Yes                 25
                       26                 Urban          Yes                 19
                       27                 Urban          Yes                 10
                       28                 Urban          Yes                 12
                       29                 Urban          Yes                 10
                       30                 Urban          Yes                 18
                       31                 Urban          Yes                  7
                       32                 Urban          Yes                  9
                       33                 Urban          Yes                  8
                       34                 Urban          Yes                  6
                       35                 Urban          Yes                 11
         Yes           17                 Urban          Yes                  1
                       18                 Urban          Yes                  1
                       19                 Urban          Yes                  2
                       20                 Urban          Yes                  3
                       21                 Urban          Yes                  3
                       22                 Urban          Yes                  2
                       23                 Urban          Yes                  5
                       24                 Urban          Yes                  5
                       25                 Urban          Yes                  9
                       26                 Urban          Yes                  7
                       27                 Urban          Yes                  6
                       28                 Urban          Yes                  5
                       29                 Urban          Yes                  4
                       30                 Urban          Yes                 10
                       31                 Urban          Yes                  4
                       32                 Urban          Yes                  3
                       33                 Urban          Yes                  2
                       34                 Urban          Yes                  1
                       35                 Urban          Yes                  4
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Uganda')& (df['location_type'] == 'Urban')& (df['cellphone_access']=='No')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country  bank_account  age_of_respondent  location_type  cellphone_access
Uganda   No            16                 Urban          No                  9
                       17                 Urban          No                  1
                       18                 Urban          No                  6
                       19                 Urban          No                  2
                       20                 Urban          No                  4
                       21                 Urban          No                  3
                       22                 Urban          No                  4
                       23                 Urban          No                  3
                       24                 Urban          No                  3
                       25                 Urban          No                  7
                       26                 Urban          No                  3
                       27                 Urban          No                  1
                       28                 Urban          No                  3
                       29                 Urban          No                  1
                       30                 Urban          No                  2
                       32                 Urban          No                  2
                       33                 Urban          No                  2
         Yes           18                 Urban          No                  2
                       22                 Urban          No                  1
                       27                 Urban          No                  1
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Tanzania')&(df['location_type'] == 'Rural')& (df['cellphone_access']=='Yes')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country   bank_account  age_of_respondent  location_type  cellphone_access
Tanzania  No            16                 Rural          Yes                  5
                        17                 Rural          Yes                 15
                        18                 Rural          Yes                 27
                        19                 Rural          Yes                 29
                        20                 Rural          Yes                 42
                        21                 Rural          Yes                 36
                        22                 Rural          Yes                 44
                        23                 Rural          Yes                 53
                        24                 Rural          Yes                 37
                        25                 Rural          Yes                 45
                        26                 Rural          Yes                 38
                        27                 Rural          Yes                 44
                        28                 Rural          Yes                 40
                        29                 Rural          Yes                 28
                        30                 Rural          Yes                 48
                        31                 Rural          Yes                 21
                        32                 Rural          Yes                 36
                        33                 Rural          Yes                 29
                        34                 Rural          Yes                 27
                        35                 Rural          Yes                 33
          Yes           17                 Rural          Yes                  1
                        18                 Rural          Yes                  2
                        19                 Rural          Yes                  3
                        20                 Rural          Yes                  4
                        21                 Rural          Yes                  5
                        22                 Rural          Yes                 13
                        23                 Rural          Yes                  8
                        24                 Rural          Yes                  9
                        25                 Rural          Yes                 13
                        26                 Rural          Yes                 12
                        27                 Rural          Yes                 14
                        28                 Rural          Yes                 19
                        29                 Rural          Yes                 11
                        30                 Rural          Yes                 28
                        31                 Rural          Yes                  7
                        32                 Rural          Yes                 18
                        33                 Rural          Yes                  7
                        34                 Rural          Yes                 13
                        35                 Rural          Yes                 12
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Tanzania')& (df['location_type'] == 'Rural')& (df['cellphone_access']=='No')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country   bank_account  age_of_respondent  location_type  cellphone_access
Tanzania  No            16                 Rural          No                  34
                        17                 Rural          No                  19
                        18                 Rural          No                  21
                        19                 Rural          No                  15
                        20                 Rural          No                  11
                        21                 Rural          No                   2
                        22                 Rural          No                  10
                        23                 Rural          No                  17
                        24                 Rural          No                  11
                        25                 Rural          No                  10
                        26                 Rural          No                  10
                        27                 Rural          No                   9
                        28                 Rural          No                  10
                        29                 Rural          No                   7
                        30                 Rural          No                  10
                        31                 Rural          No                   1
                        32                 Rural          No                  14
                        33                 Rural          No                   4
                        34                 Rural          No                   7
                        35                 Rural          No                  14
          Yes           26                 Rural          No                   1
                        33                 Rural          No                   1
                        35                 Rural          No                   1
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Tanzania')& (df['location_type'] == 'Urban')& (df['cellphone_access']=='Yes')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country   bank_account  age_of_respondent  location_type  cellphone_access
Tanzania  No            16                 Urban          Yes                  10
                        17                 Urban          Yes                  26
                        18                 Urban          Yes                  43
                        19                 Urban          Yes                  32
                        20                 Urban          Yes                  60
                        21                 Urban          Yes                  36
                        22                 Urban          Yes                  59
                        23                 Urban          Yes                  53
                        24                 Urban          Yes                  68
                        25                 Urban          Yes                  91
                        26                 Urban          Yes                  56
                        27                 Urban          Yes                  59
                        28                 Urban          Yes                  73
                        29                 Urban          Yes                  51
                        30                 Urban          Yes                 100
                        31                 Urban          Yes                  48
                        32                 Urban          Yes                  75
                        33                 Urban          Yes                  47
                        34                 Urban          Yes                  51
                        35                 Urban          Yes                  95
          Yes           20                 Urban          Yes                   2
                        22                 Urban          Yes                   1
                        23                 Urban          Yes                   4
                        24                 Urban          Yes                   4
                        25                 Urban          Yes                   9
                        26                 Urban          Yes                  14
                        27                 Urban          Yes                  11
                        28                 Urban          Yes                   4
                        29                 Urban          Yes                  11
                        30                 Urban          Yes                  13
                        31                 Urban          Yes                   3
                        32                 Urban          Yes                   3
                        33                 Urban          Yes                   4
                        34                 Urban          Yes                   6
                        35                 Urban          Yes                   6
Name: bank_account, dtype: int64

In [0]:
df_youth = df[(df['age_of_respondent']<= 35)&(df['country'] == 'Tanzania')& (df['location_type'] == 'Urban')& (df['cellphone_access']=='No')]
df_youth
df_youth.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count()

country   bank_account  age_of_respondent  location_type  cellphone_access
Tanzania  No            16                 Urban          No                   65
                        17                 Urban          No                   65
                        18                 Urban          No                   57
                        19                 Urban          No                   49
                        20                 Urban          No                   72
                        21                 Urban          No                   51
                        22                 Urban          No                   83
                        23                 Urban          No                   48
                        24                 Urban          No                   45
                        25                 Urban          No                   70
                        26                 Urban          No                   38
                        27                 Urban          No                   48
                        28                 Urban          No                   63
                        29                 Urban          No                   37
                        30                 Urban          No                  105
                        31                 Urban          No                   32
                        32                 Urban          No                   58
                        33                 Urban          No                   31
                        34                 Urban          No                   37
                        35                 Urban          No                   68
          Yes           26                 Urban          No                    2
                        29                 Urban          No                    1
                        32                 Urban          No                    1
Name: bank_account, dtype: int64

In [0]:
df_middle = df[(df['age_of_respondent'] >= 35)&(df['age_of_respondent'] <= 55)&(df['country'] == 'Kenya')&(df['location_type'] == 'Rural')]
df_middle
df_middle.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count().head(55)

country  bank_account  age_of_respondent  location_type  cellphone_access
Kenya    No            35                 Rural          No                  21
                                                         Yes                 79
                       36                 Rural          No                   5
                                                         Yes                 40
                       37                 Rural          No                   4
                                                         Yes                 23
                       38                 Rural          No                  12
                                                         Yes                 56
                       39                 Rural          No                   3
                                                         Yes                 33
                       40                 Rural          No                  17
                                                         Yes                 72
                       41                 Rural          No                   1
                                                         Yes                 21
                       42                 Rural          No                  10
                                                         Yes                 45
                       43                 Rural          No                   5
                                                         Yes                 37
                       44                 Rural          No                   9
                                                         Yes                 22
                       45                 Rural          No                  17
                                                         Yes                 55
                       46                 Rural          No                   5
                                                         Yes                 36
                       47                 Rural          No                   1
                                                         Yes                 19
                       48                 Rural          No                   7
                                                         Yes                 36
                       49                 Rural          No                   3
                                                         Yes                 26
                       50                 Rural          No                  22
                                                         Yes                 54
                       51                 Rural          No                   4
                                                         Yes                 13
                       52                 Rural          No                  14
                                                         Yes                 31
                       53                 Rural          No                   3
                                                         Yes                 23
                       54                 Rural          No                   1
                                                         Yes                 30
                       55                 Rural          No                  14
                                                         Yes                 31
         Yes           35                 Rural          Yes                 30
                       36                 Rural          Yes                 17
                       37                 Rural          Yes                 12
                       38                 Rural          Yes                 11
                       39                 Rural          Yes                  7
                       40                 Rural          Yes                 30
                       41                 Rural          Yes                 10
                       42                 Rural          No                   1
                                                         Yes                 22
                       43                 Rural          Yes                  7
                       44                 Rural          No                   1
                                                         Yes                  5
                       45                 Rural          No                   1
Name: bank_account, dtype: int64

In [0]:
df_middle = df[(df['age_of_respondent'] >= 35)&(df['age_of_respondent'] <= 55)&(df['country'] == 'Kenya')&(df['location_type'] == 'Rural')]
df_middle
df_middle.groupby(['country','bank_account','age_of_respondent','location_type','cellphone_access'])['bank_account'].count().head(55)

country  bank_account  age_of_respondent  location_type  cellphone_access
Kenya    No            35                 Rural          No                  21
                                                         Yes                 79
                       36                 Rural          No                   5
                                                         Yes                 40
                       37                 Rural          No                   4
                                                         Yes                 23
                       38                 Rural          No                  12
                                                         Yes                 56
                       39                 Rural          No                   3
                                                         Yes                 33
                       40                 Rural          No                  17
                                                         Yes                 72
                       41                 Rural          No                   1
                                                         Yes                 21
                       42                 Rural          No                  10
                                                         Yes                 45
                       43                 Rural          No                   5
                                                         Yes                 37
                       44                 Rural          No                   9
                                                         Yes                 22
                       45                 Rural          No                  17
                                                         Yes                 55
                       46                 Rural          No                   5
                                                         Yes                 36
                       47                 Rural          No                   1
                                                         Yes                 19
                       48                 Rural          No                   7
                                                         Yes                 36
                       49                 Rural          No                   3
                                                         Yes                 26
                       50                 Rural          No                  22
                                                         Yes                 54
                       51                 Rural          No                   4
                                                         Yes                 13
                       52                 Rural          No                  14
                                                         Yes                 31
                       53                 Rural          No                   3
                                                         Yes                 23
                       54                 Rural          No                   1
                                                         Yes                 30
                       55                 Rural          No                  14
                                                         Yes                 31
         Yes           35                 Rural          Yes                 30
                       36                 Rural          Yes                 17
                       37                 Rural          Yes                 12
                       38                 Rural          Yes                 11
                       39                 Rural          Yes                  7
                       40                 Rural          Yes                 30
                       41                 Rural          Yes                 10
                       42                 Rural          No                   1
                                                         Yes                 22
                       43                 Rural          Yes                  7
                       44                 Rural          No                   1
                                                         Yes                  5
                       45                 Rural          No                   1
Name: bank_account, dtype: int64